---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import '../styles/index.css'

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="image-fade">
      <img src="/banners/learn_banner.png" class="mb-8"/>
    </div>

    <div class="typewriter">
      <h1 class="animate font-semibold text-black dark:text-white">
        Welcome to CompClub Learn! 🌱 
      </h1>
    </div>

    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>
              Learn is a little corner created by 
              <Link href="https://compclub.org/">CompClub</Link> 
              where curiosity meets computer science!
              It’s a bit of an amalgamation of deep diving into random rabbit holes, 
              practical insights and resources to help you out on your journey 
              to explore computer science :)
            </p>
          </span>
          <span class="animate">
            <p>
              This place is designed to provide a rich array of resources, articles, 
              and tutorials that cater to learners at all levels. 
              While all our official workshop stuff is created by our lovely CompClub subcommittee, 
              this serves as a more open, community-driven space. 
              This is where <i>anyone</i> can share their thoughts, insights, and explorations.
            </p>
            <p>
              We’d love for anyone to share anything computer science related! If you’re interested in contributing, 
              check out our <Link href="/projects/formatting-guide">formatting guide</Link>.
            </p>
          </span>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <img src="/banners/blogs_banner.png"/>
          <h2 class="font-semibold text-black dark:text-white">
            A fun collection of articles.
          </h2>
          <Link href="/blog"> See all blogs </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <img src="/banners/guides_banner.png"/>
          <h2 class="font-semibold text-black dark:text-white">
            An archive of tutorials and resources.
          </h2>
          <Link href="/projects"> See all resources </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">Reach out to us!</h2>
        <article>
          <p>
            Have something to bring up, or just want to say hi? 
            Reach out to us on social media or drop us an email :)
          </p>
        </article>
        <ul class="not-prose flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.TITLE}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>

        <img src="/assets/busstop.png"/>

      </section>
    </div>
  </Container>
</Layout>
